body {
    background-color:#182C61;
    text-align: center;
    background:url("../image.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.card{
    background-color:#ecf2f8;
    color: black;
}

.navbar {
    background-color: #182C61;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }